<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to "X", '#', class: "remove_record btn btn-danger" %>
  </td>
  <td>
    <%= f.input :question_type, as: :select, include_blank: false, collection: Question.question_type_select, input_html: {class: "form-select form-select-lg mb-3"} %>
  </td>
  <td>
    <%= f.input :name, input_html: {class: "form-control mb-3"}, placeholder: "Question" %>
  </td>
  <td>
    <%= link_to_add_row('Add Answer', f, :answers, class: 'btn btn-primary') %>
  </td>
</tr>