<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="d-flex justify-content-evenly w-100">
    <h1>Surveys List</h1>
    <%= link_to new_survey_path do %>
      <span class="btn btn-success" title="New Survey">+</span>
    <% end %>
  </div>
  <span class="w-100 mb-5 border border-bottom-1"></span>

  <div style="width:650px">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Survey Name</th>
        </tr>
      </thead>
      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= survey.name %></td>
            <th style="position: relative; float: right;">
              <span>
                <%= link_to 'Show', survey_path(survey), class:"btn btn-sm btn-dark" %>
              </span>
              <span>
                <%= link_to 'Edit', edit_survey_path(survey), class:"btn btn-sm btn-primary" %>
              </span>
              <span>
                <%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
              </span>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>
